* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.navbar {
    color: #f9dbbd;
    background-color: white;

}

a {
    text-decoration: none;
    color: #450920;

}

#abc {
    letter-spacing: 1px;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: 900;
    background-color: #a62b5a;
    color: #f9dbbd;
}

#abc :hover {
    opacity: 0%;
}

#xyz {

    color: #450920;
}

#xyz :hover {
    transition: 0.5s;
    color: #b74671;
    text-decoration: underline;

}

body {
    color: #fff;
    /* display: flex; */
    height: 100%;
    justify-content: center;
    align-items: center;
}


.bg {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container-contact1 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
    background: rgba(166, 43, 90, 0.9);
}

.container1 {

    width: 1163px;
    padding: 25px 30px;
    border-radius: 25px;
    background: #fff;
    color: #000;
    margin-top: 7%;
    font-size: 20px;
    color: #333333;
    line-height: 1.2;

}

.container1 .heading {
    display: block;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 36px;
    text-decoration: underline;
}

.container1 form .card-details {
    margin-top: 25px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

form .card-details .card-box {
    width: calc(100% /2 -20px);
    margin-bottom: 15px;
}

.card-details .card-box .details {
    display: block;
    /* font-weight: 500; */
    margin-bottom: 5px;

}

.card-details .card-box input {
    height: 45px;
    width: 200%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

.card-details .card-box textarea {
    height: 100px;
    width: 150%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
    background: #aaaaaa;
    display: block;
    transition: all 0.3s ease;
}

.card-details .card-box input:focus,
.card-details .card-box input:valid {
    background: #aaaaaa;

}

form .button {
    text-align: center;
}


.container-contact1-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.contact1-form-btn {
    width: 25%;
    height: 50px;
    border-radius: 25px;
    background: rgba(166, 43, 90);
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    border-color: #fff;
}

.contact1-form-btn:hover {
    background: #333333;
}


@media(max-width:584px) {
    .container {
        max-width: 100%;
    }

    form .card-details .card-box {
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .card-details {
        max-height: 300px;
        overflow: scroll;

    }

    /* .card-details .input-group{
        width: fit-content;
    } 
*/
}



card-details::_webkit-scrollbar {
    width: 0;
}

.container-form {
    /* justify-items: center; */
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin-left: 2%;
}

.input-group .card-box {
    font-size: small;
}

#nnnn {
    text-align: left;
    margin-left: 1%;
}


.footer {
    display: block;
    font-size: 14px;
    background-color: #f9dbbd;
    padding: 50px 0;
    /* margin-top: 10%; */
    color: #450920;
}


a {
    color: #450920;
}

.abhay {
    margin-bottom: 6px;
}

.logos {
    margin-right: 10px;
}

.fa-solid {
    padding: 3px;
}


/*[ Responsive ]*/

#fpara {
    color: #450920;
    font-size: 14px;
    line-height: 1.7;
}


#contactinfo {
    font-size: 14px;
    color: #450920;
}


#socio {
    margin-top: 9px;
}

#abhay :hover {
    text-decoration: underline;
}

#uselink {
    text-align: left;

}

#cus {
    margin-bottom: 5px;
}

@media (max-width: 1200px) {
    .contact1-pic {
        width: 33.5%;
    }

    .contact1-form {
        width: 44%;
    }
}

@media (max-width: 992px) {
    .wrap-contact1 {
        padding: 110px 80px 157px 90px;
    }

    .contact1-pic {
        width: 35%;
    }

    .contact1-form {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .wrap-contact1 {
        padding: 110px 80px 157px 80px;
    }

    .contact1-pic {
        display: none;
    }

    .contact1-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-contact1 {
        padding: 110px 15px 157px 15px;
    }
}

#fpara {
    text-align: left;
}

@media (max-width: 1200px) {
    #fpara {
        text-align: justify;
    }
}

@media (max-width: 992px) {

    #fpara {
        text-align: justify;
        /* margin-bottom: 0%; */
    }

    #uselink {
        text-align: left;
    }

    #socio {
        margin-top: 0%;
        /* margin-bottom: 15px; */
        justify-content: center;
        /* margin-left: 220px; */
    }

    #cus {
        justify-content: left;
    }

    #contactinfo {
        text-align: center;
        justify-content: left;
        margin-bottom: 0%;
    }
}

@media (max-width: 768px) {
    #fpara {
        text-align: justify;
        /* margin-bottom: 0%; */
    }

    #uselink {
        text-align: left;
    }

    #socio {
        margin-top: 0%;
        /* margin-bottom: 15px; */
        justify-content: left;
        /* margin-left: 220px; */
    }

    #cus {
        text-align: left;
        justify-content: left;
    }

    #contactinfo {
        margin-left: 20px;
        text-align: left;
        justify-content: left;
        margin-bottom: 20px;
    }


}

@media (max-width: 576px) {
    #fpara {
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
    }

    #uselink {
        margin-left: 5px;
    }

    #cus {
        margin-left: 5px;
    }

    #abhay {
        margin-left: 5px;
    }
}

.a1 {
    font-size: large;
    line-height: 2;
    margin-bottom: 50px;
}

.a2 {
    padding: 3px;
    border-radius: 10%;
    text-align: center;
    background-color: pink;
    color: #a62b5a;
    font-size: 20px;
}