/* *{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body 
{ 
    font-family: 'Roboto Slab', serif; 
    background-color: #f9dbbd;   
}


/* navbar 
.navbar{
    color: #f9dbbd;
    background-color: white;
    width:100%; height:15vh; 


} 

.nav-link {
    font-weight: 500;
    color: #f9dbbd;
    font-size: large;
} 
#xyz {

color: #450920;
}*/



/* .wave{
    position: absolute;
        height: 100%;
    left:0;
    bottom: 0;
    z-index: -1;

}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2 rem;
}
 .login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0px;
 }
 .login img{
    width: 500px;

 }

 .login-container{
    
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 60px;
   
    
 }

 .avatar{
    width:100px;
    padding-bottom: 0px;
 }

 form{
    width: 360px;

 }
 
 form h2{
     font-size: 1.9rem;
     text-transform: uppercase;
     margin: 15px 0;
     color: rgb(0, 0, 0);

 }

 .input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
 }

 .input-div:after, .input-div:before{
    content: '';
    position:absolute;
    bottom: -2px;
    width: 50%;
    height: 2px;
    background-color: black;
 }

 .input-div:after{

    right:50%;
 }

 .input-div:before{
    left: 50%;
 }

 .input-div.focus .i i{
    color:#000;
 }

 .input-div.focus div h5{
    top: -5px;
    font-size: 15px;
 }

 .input-div.one{
    margin-top: 0;
 }

 .input-div.two{
    margin-bottom: 4px;

 }

 .i{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .i i{
    color: #d9d9d9;
 }

 .input-div > div{
    position: relative;
    height: 45px;
 }

 .input-div > div h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    display: none; 
    transition: .3s;

 }

 .input{
    position: absolute;
    width: 100%;
    height: 100% ;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 3.2 rem;
    color: #555;

      
 }

 a{
    display: block;
    text-align: right;
    text-decoration: underline;
    color: black;
    font-size: 0.9rem;
    transition: .3s
 }

 a:hover{
    color: blueviolet;
 }

 .btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    background-image: white;
    cursor: pointer;
    color: #450920;
    text-transform:uppercase;
    background-color: #ffa5ab;
    font-family: 'Roboto Slab', serif;
     background-size: 200%;
    transition: .5s;


 }
 .btn:hover{

    background-position: right;
    background-color: #f97079;
 }

 .navbar {
   color: #f9dbbd;
   background-color: white;

}

a {
   text-decoration: none;
   color: #450920;

}

.nav-link {
   color: #f9dbbd;
   font-size: large;
   font-weight: 900;
}

.navbar-toggler-icon {
   color: #450920;
}

#abc {
   letter-spacing: 1px;
   border-radius: 10px;
   transition: 0.3s;
   font-weight: 900;
   background-color: #a62b5a;
   color: #f9dbbd;
}

#abc :hover {
   opacity: 0%;
}

#xyz {

   color: #450920;
}

#xyz :hover {
   transition: 0.5s;
   color: #b74671;
   text-decoration: underline;
  
}


.dropdown .dropdown-toggle {
   border: none;
   font-size: large;
   background-color: #fff;
   font-weight: 900;
} */
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;

}

body {
   font-family: 'Roboto Slab', serif;
   background-color: #a62b5a;
}

.form-control {
   width: 300px;

}

h2 {
   color: black;
}

.avatar {
   width: 100px;
   padding-bottom: 0px;

}

#app1 {
   margin-left: 150px;
}

#app2 {
   margin-top: 100px
}

.container1 {

   width: 700px;
   padding: 25px 30px;
   border-radius: 25px;
   background: #fff;
   color: #450920;
   margin-top: 7%;
   margin-left: 350px;

}