body {
    background-color: #a62b5a;
}

form {
    height: 420px;
    width: 400px;
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 60px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.form {
    font-family: 'Poppins', sans-serif;
    color: #450920;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    justify-content: center;
    margin-left: 60px;

}

/* .form {
    color: #a62b5a;

} */

h1 {
    color: #a62b5a;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
    font-size: 35px;
    margin-top: 10px;
    text-decoration: underline;
}

section {
    margin-top: 40px;
    font-size: 17px;
}

#password {
    margin-top: 25px;
    height: 25px;
    margin-left: 10px;

}

#email {
    margin-left: 42px;
    height: 25px;
}

.submit-btn {
    margin-top: 40px;
    margin-left: 90px;
    padding: 0.5em 1.5em;
    background-color: #a62b5a;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    font-size: medium;
}