body {
  background-color: #f9dbbd;
  color: white;
  font-family: 'Roboto Slab', serif;
  /* font-weight: 900; */

}

/* navbar  */

/* ------------  */

#track {
  /* background-color: #dde5b6; */
  color: black;
  font-size: large;
  text-align: center;
  border-radius: 20%;
  width: 25%;
}

form {
  margin-top: 12px;
}

#dabbu {
  width: 30%;
  text-align: left;
}

#button-addon2 {
  margin-left: 150px;
  /* font-weight: 500; */
}

#progtrack {
  width: 700px;
  margin: 50px auto;
  text-align: center;
}

.progress-meter {
  padding: 0;
}

ol.progress-meter {
  padding-bottom: 9.5px;
  list-style-type: none;
}

ol.progress-meter li {
  display: inline-block;
  text-align: center;
  text-indent: -19px;
  height: 40px;
  width: 24.99%;
  font-size: 12px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

ol.progress-meter li:before {
  position: relative;
  float: left;
  text-indent: 0;
  left: -webkit-calc(50% - 9.5px);
  left: -moz-calc(50% - 9.5px);
  left: -ms-calc(50% - 9.5px);
  left: -o-calc(50% - 9.5px);
  left: calc(50% - 9.5px);
}

ol.progress-meter li.done {
  font-size: 15px;
}

ol.progress-meter li.done:before {
  content: "\2713";
  height: 19px;
  width: 19px;
  line-height: 21.85px;
  bottom: -28.175px;
  border: none;
  border-radius: 19px;
}

ol.progress-meter li.todo {
  font-size: 15px;
}

ol.progress-meter li.todo:before {
  content: "\2B24";
  font-size: 17.1px;
  bottom: -26.95px;
  line-height: 18.05px;
}

ol.progress-meter li.done {
  color: black;
  border-bottom-color: rgb(127, 188, 36);
}

ol.progress-meter li.done:before {
  color: white;
  background-color: green;
}

ol.progress-meter li.todo {
  color: rgb(84, 83, 83);
  border-bottom-color: darkgray;
}

ol.progress-meter li.todo:before {
  color: silver;
}

b {
  font-size: x-large;
  /* font-weight: 900; */
}

.pr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  margin-left: 100px;
  /* font-weight: 700; */
}

#oof {
  padding-left: 10px;
}

.space {
  background-color: #a62b5a;
  padding: 5%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}

#accept {
  margin-right: 20px;
}

p {
  text-align: center;
}

.wrap-input1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.wrap-input2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.footer {
  display: block;
  font-size: 14px;
  background-color: #f9dbbd;
  padding: 50px 0;
  /* margin-top: 10%; */
  color: #450920;
}

h4 {
  background-color: #f9dbbd;
  color: #450920;
  border-radius: 50%;
  font-style: italic;
  /* font-weight: 600; */
  text-align: center;

}

a {
  color: #450920;
}

.abhay {
  margin-bottom: 6px;
}

.logos {
  margin-right: 10px;
}

.fa-solid {
  padding: 3px;
}



.navbar {
  color: #f9dbbd;
  background-color: white;

}

a {
  text-decoration: none;
  color: #450920;

}

.nav-link {
  color: #f9dbbd;
  font-size: large;
  /* font-weight: 900; */
}

.navbar-toggler-icon {
  color: #450920;
}

#abc {
  letter-spacing: 1px;
  border-radius: 10px;
  transition: 0.3s;
  font-weight: 900;
  background-color: #a62b5a;
  color: #f9dbbd;
}

#abc :hover {
  opacity: 0%;
}

#xyz {

  color: #450920;
}

#xyz :hover {
  transition: 0.5s;
  color: #b74671;
  text-decoration: underline;

}


.dropdown .dropdown-toggle {
  border: none;
  font-size: large;
  background-color: #fff;
  /* font-weight: 900; */
}

#fpara {
  text-align: left;
}

@media (max-width: 1200px) {
  #fpara {
    text-align: justify;
  }
}

@media (max-width: 992px) {

  #fpara {
    text-align: justify;
    /* margin-bottom: 0%; */
  }

  #uselink {
    text-align: left;
  }

  #socio {
    margin-top: 0%;
    /* margin-bottom: 15px; */
    justify-content: center;
    /* margin-left: 220px; */
  }

  #cus {
    justify-content: left;
  }

  #contactinfo {
    text-align: center;
    justify-content: left;
    margin-bottom: 0%;
  }
}

@media (max-width: 768px) {
  #fpara {
    text-align: justify;
    /* margin-bottom: 0%; */
  }

  #uselink {
    text-align: left;
  }

  #socio {
    margin-top: 0%;
    /* margin-bottom: 15px; */
    justify-content: left;
    /* margin-left: 220px; */
  }

  #cus {
    text-align: left;
    justify-content: left;
  }

  #contactinfo {
    margin-left: 20px;
    text-align: left;
    justify-content: left;
    margin-bottom: 20px;
  }


}

@media (max-width: 576px) {
  #fpara {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
  }

  #uselink {
    margin-left: 5px;
  }

  #cus {
    margin-left: 5px;
  }

  #abhay {
    margin-left: 5px;
  }
}